* {
  box-sizing: border-box;
}

.home_wrapper {
  padding: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.home__typo-wrapper {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  right: 0;
  transform: translateX(180px);
  top: 0px;
  background-color: #d8f0ed;
}

.home__search_panel {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
}

.home__bg {
  background-color: #d8f0ed;
}

.home__intro {
  color: #006735;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0 0 1.8em;
}

.home__search-wrapper {
  position: relative;
  width: 100%;
  z-index: 10;
}

.home__search {
  width: 100%;
  padding: 1em 0.5em 1em 3em;
  border: 1px solid #eee;
  font-size: 1rem;
  outline: none;
}

.home__search-marker {
  position: absolute;
  left: 0.7em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.home__form {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.home__search-label {
  position: absolute;
  display: block;
  padding: 0 0.5em;
  top: -0.8em;
  left: 0.5em;
  background-color: white;
  color: #006735;
  font-size: 12px;
}

.btn-primary {
  color: #006735;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: transparent;
  padding: 0.8em 1em;
  align-self: center;
  display: inline-block;
  margin-top: 2em;
  border: 2px solid currentColor;
  width: 100%;
  cursor: pointer;
}

.home__selection-list {
  background-color: white;
  border: 1px solid #eee;
  padding: 0;
  margin-top: -1px;
  position: absolute;
  left: 0;
  top: 100%;
  list-style-type: none;
  width: 100%;
  box-shadow: 0 6px 7px 0px rgba(0, 0, 0, 0.1);
}

.home__selection-list-item {
  padding: 0.5em 0.8em;
  -webkit-appearance: none;
}
